# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.ipr
*.iws
*.eml

# Specific for dartmouthCencemeDatasetReader project
#example_code/LifeMap_GS1.db
data/*.txt
tracefiles/